body {
    font-family: 'Pathway Extreme', sans-serif;
    margin: 0;
    color: #e4f0d6;
}

/* NAVIAGATION */
nav {
    width: 100%;
    height: 4rem;
    background-color: #CAE3AE;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav, .logo-div, .nav-menu {
    display: flex;
}

a {
    text-decoration: none;
}

p {

}

.logo-div {
    position: absolute;
    right: 46%;
}

.logo {
    font-size: 1.4em;
    color: #025553;
    font-weight: 100;
}

.nav-menu {
  position: absolute;
  right: 2%;
}

.nav-menu a {
    padding-right: 1.4rem;
    font-size: .85em;
    text-decoration: none;
    color: #006838;
    font-weight: 600;
    opacity: 50%;
    transition-duration: 1s;
}

.nav-menu a:hover {
    opacity: 100%;
}




/* BODY */

section {
    width: 100vw;
    height: 100vh;
    margin-top:0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store {
    width: 100vw;
    height: 100vh;
    margin-top: 10%;
    padding: 3%;
    display: block;
    align-items: center;
    justify-content: center;
}

.store h1 {
    color:#025553;
}

.home-grid {
    display: grid;
    margin-top:0%;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.left  {grid-column: 1 / span 1; grid-template-rows: 1 / span 1}
.right {grid-column: 2 / span 2; grid-template-rows: 1 / span 1}

.left {
    background-size: contain;
    background-position: center;
    background-repeat: none;
    background-image: url('images/collection-green.jpg');

}

.right {
    background-color: #025553;
    align-items: center;
    justify-content: center;
}

.hero-text {
    align-items: center;
    justify-content: center;
    padding: 25%;
    padding-top: 50%;
    width: 50%;
}

.logo-hero {
    font-size: 3em;
    color: white;
    font-weight: 100;
    margin-bottom: 0;
    padding: 0;
    line-height: 90%;
}

.hero-text h4 {
    font-size: 1.5;
    font-weight: 200;
    color: white;
    line-height: 90%;
    letter-spacing: .01rem;
    text-align: right;
    margin-top: 0;
    
}

.hero-text h6{
    font-family: 'Inter';
    color: #CAE3AE;
    font-weight: 100;
    line-height: 100%;
    font-size: 1em;
    margin-bottom: 4em;

}

.green-buttons {
  padding: 10px 17px;
  background: #CAE3AE;
  color: #006838;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1em;
  transition-duration: .5s;
}

.green-buttons:hover {
    background-color:#025553;
    color:#CAE3AE;
}

.dark-green-buttons {
    padding: 10px 17px;
    color: #CAE3AE;
    background-color: #025553;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
    transition-duration: 1s;
  }

.rock-card {
    height: 55vh;
    width: 55vw;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-image: url('images/a-hero-0.jpg');
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 10% 50% 20%;
}

.card {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    background-color: white;
    margin: 3rem 0rem;
    align-items: center;
    padding: 3rem;
}

.card h4, h5, h6 {
    color: #025553;
    font-weight: 100;
    line-height: 120%;
    margin: 0;
}

.card h4 {
    font-size: 1em;
}

.card h5, h6 {
    font-size: 1.5em;
}

.card h6 {
    margin-bottom: 1em;
}

.square-grid {
    display: grid;
    height: 55vh;
    width: 55vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.rocks, .collections, .kits, .gems {
    border: solid .1rem #CAE3AE;
    margin: 1rem;
}

.rocks {
    grid-column: 1;
    grid-row: 1;
    background-image: linear-gradient(to bottom, #CAE3AE50, #CAE3AE50),
    url('images/rock-biggreen.jpg');
    background-size: cover;
}

.rocks:hover {
    background-image:  url('images/rock-biggreen.jpg');
}

.collections {
    grid-column: 2;
    grid-row: 1;
    background-image: linear-gradient(to bottom, #CAE3AE50, #CAE3AE50),url('images/collection-aquapastel.jpg');
    background-size: cover;
}

.collections:hover {
    background-image: url('images/collection-aquapastel.jpg');
}

.kits {
    grid-column: 1;
    grid-row: 2;
    background-image: linear-gradient(to bottom, #CAE3AE50, #CAE3AE50), url('images/kit-crystalpaper.jpg');
    background-size: cover;
}

.kits:hover {
    background-image: url('images/kit-crystalpaper.jpg');
}

.gems {
    grid-column: 2;
    grid-row: 2;
    background-image: linear-gradient(to bottom, #CAE3AE50, #CAE3AE50), url('images/special.jpg');
    background-size: cover;
}

.gems:hover {
    background-image: url('images/special.jpg');
}


.shop-buttons {
    padding: .8em 1.4em;
    margin-top: auto;
    position: absolute;
    background: #CAE3AE;
    color: #006838;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    transition-duration: 1s;
  }

  .store-category {
    padding-bottom: 4em;
  }


  .grid-rocks {
    display: grid;
    height: auto;
    width: 80vw;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70% 30%;
}

.item {
    background-size: cover;
    height: 400px;
    width: 400px;
}




.rock-1 {
    grid-column: 1;
    grid-row: 1;
}

.rock-1-img {
    height: 350px;
    width: 350px;
    background-size: cover;
    background-image: url('images/rock-biggreen.jpg');
}

.rock-2-img {
    height: 350px;
    width: 350px;
    background-size: cover;
    background-image: url('images/rock-white.jpg');
}


.rock-3-img {
    height: 350px;
    width: 350px;
    background-size: cover;
    background-image: url('images/rock-largesmoothgeocobalt.jpg');
}

.rock-2 {
    grid-column: 2;
    grid-row: 1;
}

.rock-3 {
    grid-column: 3;
    grid-row: 1;
}



.store-titles {
    color:#025553;
}

.price {
    color:#072b2a;
}

.iteminfo p {
    font-family: 'Inter';
    color: #072b2a;
    font-weight: 200;
    line-height: 100%;
    font-size: .8em;
    padding-right: 4em;
}

.blog-img1 {
    height: 200px;
    width: 400px;
    background-size: cover;
    background-image: url('images/kit-greatamethyst.jpg');
}

.blog-img2 {
    height: 200px;
    width: 400px;
    background-size: cover;
    background-image: url('images/kit-crystalpaper.jpg');
}

.blog-body {
    padding: 7em;
    margin-top:10em;
}


footer {
    display: block;
    text-align: center;
}

footer h4 {
    color: #025553;
    margin: 0;
    margin-bottom: 2em;
    line-height: 100%;
}